;<?php __halt_compiler();

[production]
; php settings
;phpSettings.display_startup_errors = 0
;phpSettings.display_errors = 0
phpSettings.date.timezone = "UTC"

; bootstrap
;bootstrap.class = "Application"

; Resources

; security
resources.security.config = "security"

; user
resources.user = true

; front controller
; Do not change defaultModule, otherwise basic service won't work
resources.frontController.throwExceptions = false
resources.frontController.defaultModule = "default"
resources.frontController.defaultControllerName = "index"
resources.frontController.defaultAction = "index"
resources.frontController.section = "front"

; router
resources.router.name = "application"
resources.router.route = "root"

; cache
resources.cache = true

; database
resources.db.adapter = "Pdo_Mysql"
resources.db.config = "db"
resources.db.profiler.enabled = false

; config
resources.config = true

; Locale
resources.locale = true

; Translate
; system translate adapter
resources.translate.adapter = legacy
; system translate preload data
resources.translate.load.global = true

; module
resources.module = true

; Modules
;resources.modules = true

; error
resources.error = true

; session
resources.session.config = "session.admin"

; authorization
resources.auth.adapter = "root"
resources.auth.storage = "session"
; days
resources.auth.rememberMe = 0

; view
;resources.view.enabled = true
;resources.view.section =
; layout
;resources.view.layout.enabled = true
;resources.view.layout.layout = layout
;resources.view.layout.theme = default
resources.view.layout.navigation = front
resources.view.layout.plugin.register = true
resources.view.layout.cache.frontend = core
resources.view.layout.cache.backend = file


[staging : production]

[testing : production]
;phpSettings.display_startup_errors = 1
;phpSettings.display_errors = 1
resources.db.profiler.enabled = true

[development : production]
;phpSettings.display_startup_errors = 1
;phpSettings.display_errors = 1
resources.db.profiler.enabled = true

[debug : production]
;phpSettings.display_startup_errors = 1
;phpSettings.display_errors = 1
resources.db.profiler.enabled = true

[qa : development]
