;<?php __halt_compiler();

[production]
; php settings
;phpSettings.display_startup_errors = 0
;phpSettings.display_errors = 0

phpSettings.date.timezone = "UTC"

; Resources

; security
resources.security.config = "security"

; user
resources.user = true

; front controller
; Do not change defaultModule, otherwise basic service won't work
resources.frontController.throwExceptions = false
resources.frontController.defaultModule = "default"
resources.frontController.defaultControllerName = "index"
resources.frontController.defaultAction = "index"
resources.frontController.section = "admin"
;resources.frontController.noViewRenderer = true
resources.frontController.noErrorHandler = true

; router
resources.router.route = "raw"

; cache
resources.cache = true


; legacy
resources.legacy = true

; database
resources.db.config = "db"
resources.db.profiler.enabled = false

; config
resources.config = true

; module
resources.module = true

; session
resources.session.config = "session.admin"

; authorization
resources.auth.adapter = "admin"
resources.auth.storage = "session"
; days
resources.auth.rememberMe = 0

; admin user
resources.admin = true

; ACL
resources.acl.section = admin

; Translate
; system translate adapter
resources.translate.adapter = legacy
; system translate preload data
resources.translate.load.global = true
resources.translate.load.admin = true
; module translate preload data
resources.translate.module.data = admin


; view
resources.view.class = Xoops_Zend_View
; layout
resources.view.layout.class = Xoops_Zend_Layout
resources.view.layout.block = false
resources.view.layout.layout = admin
resources.view.layout.navigation = admin
; template
resources.view.template.caching = false
resources.view.template.caching = false
resources.view.template.compile_check = false
resources.view.template.debugging = false
resources.view.template.force_compile = false
resources.view.template.error_unassigned = false
; renderer
resources.view.viewRenderer.class = Xoops_Zend_Controller_Action_Helper_ViewRenderer


[staging : production]

[testing : production]
;phpSettings.display_startup_errors = 1
;phpSettings.display_errors = 1
resources.db.profiler.enabled = true

[development : production]
;phpSettings.display_startup_errors = 1
;phpSettings.display_errors = 1
resources.db.profiler.enabled = true

[debug : production]
;phpSettings.display_startup_errors = 1
;phpSettings.display_errors = 1
resources.db.profiler.enabled = true

[qa : development]
