;<?php __halt_compiler();

[production]
; php settings
;phpSettings.display_startup_errors = 0
;phpSettings.display_errors = 0
phpSettings.date.timezone = "UTC"

; bootstrap
;bootstrap.class = "Application"

; Resources

; security
resources.security.config = "security"

; user
resources.user = true

; front controller
; Do not change defaultModule, otherwise basic service won't work
resources.frontController.throwExceptions = false
resources.frontController.defaultModule = "default"
resources.frontController.defaultControllerName = "index"
resources.frontController.defaultAction = "index"
resources.frontController.dispatcher = "admin"
resources.frontController.section = "admin"
resources.frontController.modulecontrollerdirectoryname = "controllers/admin"
resources.frontController.controllerdirectory.default = "app/default/controllers"
resources.frontController.controllerdirectory.module = "app/system/controllers/module"

; router
;resources.router.name = "admin"
resources.router.section = "admin"
resources.router.route = "admin"

; cache
resources.cache = true

; database
resources.db.adapter = "Pdo_Mysql"
resources.db.config = "db"
resources.db.profiler.enabled = false

; config
resources.config = true

; Locale
resources.locale = true

; Translate
resources.translate.adapter = legacy
resources.translate.load.admin = true
; module translate preload data
resources.translate.module.data = admin
; module translate preload adapter, default as system adapter
;resources.translate.module.adapter = gettext

; module
resources.module = true

; error
resources.error = true

; session
resources.session.config = "session.admin"

; authorization
resources.auth.adapter = "root"
resources.auth.storage = "session"
; days
resources.auth.rememberMe = 0

; ACL
;resources.acl.section = admin
resources.acl = true


; view
;resources.view.enabled = true
;resources.view.section = admin
; layout
;resources.view.layout.enabled = true
resources.view.layout.block = false
resources.view.layout.layout = admin
resources.view.layout.type = admin
;resources.view.layout.theme = default
resources.view.layout.navigation = admin
resources.view.layout.plugin.register = true
resources.view.layout.cache.frontend = core
resources.view.layout.cache.backend = file
; template
resources.view.template.caching = false
resources.view.template.compile_check = false
resources.view.template.debugging = false
resources.view.template.force_compile = false
resources.view.template.error_unassigned = false

; Modules
resources.modules = true

; Operation audit
resources.audit.disable = 0
resources.audit.methods[] = POST
;resources.audit.pages[] = system-preference
;resources.audit.pages[] = system-role-edit
;resources.audit.roles[] = admin
;resources.audit.users[] = suspectUser
;resources.audit.ips[] = 111.111.111.*


[staging : production]

[debug : production]
; DB profiler
resources.db.profiler.enabled = true
; template
resources.view.template.caching = false
resources.view.template.compile_check = true
resources.view.template.debugging = false
resources.view.template.force_compile = false
resources.view.template.error_unassigned = false

[development : production]
; DB profiler
resources.db.profiler.enabled = true
; template
resources.view.template.caching = false
resources.view.template.compile_check = true
resources.view.template.debugging = true
resources.view.template.force_compile = true
resources.view.template.error_unassigned = false

[qa : development]
