;<?php __halt_compiler();

[production]
; php settings
;phpSettings.display_startup_errors = 0
;phpSettings.display_errors = 0
phpSettings.date.timezone = "UTC"

; bootstrap
;bootstrap.class = "Application"

; Resources

; front controller
; Do not change defaultModule, otherwise basic service won't work
resources.frontController.defaultModule = "default"
resources.frontController.defaultControllerName = "index"
resources.frontController.defaultAction = "index"
resources.frontController.section = "feed"
resources.frontController.modulecontrollerdirectoryname = "controllers/feed"
resources.frontController.noViewRenderer = true

; router
;resources.router.name = "feed"
resources.router.route = "feed"

; cache
resources.cache = true

; database
resources.db.adapter = "Pdo_Mysql"
resources.db.config = "db"
resources.db.profiler.enabled = false

; config
resources.config = true

; Locale
resources.locale = true

; Translate
; system translate adapter
resources.translate.adapter = legacy
; system translate preload data
resources.translate.load.global = true
; module translate preload data
resources.translate.module.data = main

; module
resources.module = true

; Modules
resources.modules = true

; error
resources.error = true

; view
; layout
;resources.view = true

[staging : production]

[testing : production]
;phpSettings.display_startup_errors = 1
;phpSettings.display_errors = 1
resources.db.profiler.enabled = true

[development : production]
;phpSettings.display_startup_errors = 1
;phpSettings.display_errors = 1
resources.db.profiler.enabled = true

[debug : production]
;phpSettings.display_startup_errors = 1
;phpSettings.display_errors = 1
resources.db.profiler.enabled = true

[qa : development]
