;<?php __halt_compiler();

[production]
; php settings
;phpSettings.display_startup_errors = 0
;phpSettings.display_errors = 0
phpSettings.date.timezone = "UTC"

; bootstrap
;bootstrap.class = "Bootstrap"

; Resources

; Autoload
;resources.autoload = true

; database
resources.db.adapter = "Pdo_Mysql"
resources.db.config = "db"
resources.db.profiler.enabled = false

; Translate
resources.translatesetup.adapter = legacy

[staging : production]

[testing : production]
;phpSettings.display_startup_errors = 1
;phpSettings.display_errors = 1
resources.db.profiler.enabled = true

[development : production]
;phpSettings.display_startup_errors = 1
;phpSettings.display_errors = 1
resources.db.profiler.enabled = true

[debug : production]
;phpSettings.display_startup_errors = 1
;phpSettings.display_errors = 1
resources.db.profiler.enabled = true

[qa : development]
