;<?php __halt_compiler();

[production]
; php settings
;phpSettings.display_startup_errors = 0
;phpSettings.display_errors = 0
phpSettings.date.timezone = "UTC"

; bootstrap
;bootstrap.class = "Application"

; Resources

; front controller
; Do not change defaultModule, otherwise basic service won't work
resources.frontController.throwExceptions = false
resources.frontController.defaultModule = "default"
resources.frontController.defaultControllerName = "widget"
resources.frontController.defaultAction = "index"
resources.frontController.section = "widget"
resources.frontController.noViewRenderer = true

; router
;resources.router.name = "widget"
resources.router.route = "widget"

; error
resources.error = true

; cache
resources.cache = true

; database
resources.db.adapter = "Pdo_Mysql"
resources.db.config = "db"
resources.db.profiler.enabled = false

; config
resources.config = true

; Locale
resources.locale = true

; Translate
; system translate adapter
resources.translate.adapter = legacy
; system translate load apater for 'global'
resources.translate.load.global.adapter = legacy

; view
resources.view.enabled = true
; layout
;resources.view.layout.enabled = true
resources.view.layout.layout = empty
resources.view.layout.initMvc = false


[staging : production]

[testing : production]
;phpSettings.display_startup_errors = 1
;phpSettings.display_errors = 1
resources.db.profiler.enabled = true

[development : production]
;phpSettings.display_startup_errors = 1
;phpSettings.display_errors = 1
resources.db.profiler.enabled = true

[debug : production]
;phpSettings.display_startup_errors = 1
;phpSettings.display_errors = 1
resources.db.profiler.enabled = true

[qa : development]
