
    <{*$xoopsForm.javascript*}>
    <{headScript source="{$xoopsForm.javascript}" type='text/javascript'}>
    <div class="form-title"><{$xoopsForm.title}></div>
    <{if !empty($xoopsForm.description)}>
        <div class="form-description"><{$xoopsForm.description}></div>
    <{/if}>
    <form id="<{$xoopsForm.name}>" name="<{$xoopsForm.name}>" action="<{$xoopsForm.action}>" method="<{$xoopsForm.method}>" <{$xoopsForm.extra}> >
        <table class="profile-form" id="profile-form-<{$xoopsForm.name}>">
            <{foreach item=element from=$xoopsForm.elements}>
                <{if !$element.hidden}>
                    <tr>
                        <td class="head">
                            <div class='xoops-form-element-caption<{if $element.required}>-required<{/if}>'>
                                <span class='caption-text'><{$element.caption}></span>
                                <span class='caption-marker'>*</span>
                            </div>
                            <{if !empty($element.description)}>
                                <div class='xoops-form-element-help'><{$element.description}></div>
                            <{/if}>
                        </td>
                        <td class="<{cycle values='odd, even'}>">
                            <{$element.body}>
                        </td>
                    </tr>
                <{/if}>
            <{/foreach}>
        </table>
        <{foreach item=element from=$xoopsForm.elements}>
            <{if $element.hidden}>
                <{$element.body}>
            <{/if}>
        <{/foreach}>
    </form>
