<h2><{_ text=Search}></h2>
<p><{include file="app/system/form.html" xoopsForm=$xoopsSearch}></p>

<{if $results}>
    <p><{_ text="Search results:"}>
        <ul>
        <{$results.name}>
        <{foreach item=ls from=$results.list}>
            <li>
                <{$ls.title}>
                <{assign var=uid value=$ls.uid}>
                <{if $ls.uid AND $users.$uid}><a href="<{$users.$uid.url}>"><{$users.$uid.name}></a><{/if}>
                <{if $ls.time}><{$ls.time}><{/if}>
                <p>
                    <{if $ls.content}><{$ls.content}><{/if}>
                </p>
            </li>
        <{/foreach}>
        </ul>
    </p>
    <{if $results.next OR $results.previous}>
    <p>
        <{if $results.previous}>
            <a href="<{$results.previous}>"><{_ text=Previous}></a>
        <{/if}>
        <{if $results.next AND $results.previous}>
            |
        <{/if}>
        <{if $results.next}>
            <a href="<{$results.next}>"><{_ text=Next}></a>
        <{/if}>
    </p>
    <{/if}>
<{/if}>
