<h2><{$message}></h2>
<div style="display: block;">
    <p>Change the content of this template to fit your needs.</p>
    <p>Or you could set a startpage by one of the following ways:
        <ul>
            <li>Choose a start module in system preference</li>
            <li>Or set a redirect URL in .htaccess (desired but advanced skills required)</li>
        </ul>
    </p>
</div>
<div>
    <div>Widget: http://www.XoopsEngine.org/widget/xoops</div>
    <p><iframe src="http://www.XoopsEngine.org/widget/xoops" width="500" height="100" frameborder="0"></iframe></p>
</div>