<{headLink href="app/user/resources/scripts/register.css"}>

<!--
<{if !empty($captcha)}>
<{headScript source="
    var captcha_id = '`$captcha.elementId`';
    var callback = '`$captcha.callback`';
"}>
<{jQuery}>
<{headScript src='img/captcha/scripts/captcha.js'}>
<{/if}>
-->

<h2><{$title}></h2>
<{if !empty($message)}>
    <div class="register-message">
    <{$message}>
    </div>
<{/if}>

<div class="register-form"><{$xoopsRegister}></div>

<p>
    <{_ text="If you already have an account, please click to login:"}> <a href="<{appUrl route=login}>"><{_ text=Login}></a>
</p>
