<h2><{$title}></h2>
<ol>
    <ol><{_ text="Basic Readings"}>
        <li><{_ text="What is a module"}></li>
        <li><{_ text="How to install a module"}></li>
        <li><{_ text="How to update a module"}></li>
        <li><{_ text="How to upgrade a module"}></li>
        <li><{_ text="How to deactivate a module"}></li>
        <li><{_ text="How to activate a module"}></li>
        <li><{_ text="How to remove a module"}></li>
        <li><{_ text="How to find a module"}></li>
    </ol>
    <ol><{_ text="Advanced Readings"}>
        <li><{_ text="How to develolp a module"}></li>
        <li><{_ text="How to customize a module"}></li>
        <li><{_ text="How to translate a module"}></li>
        <li><{_ text="How to contribute to a module"}></li>
    </ol>
</ol>