<h2><{$title}></h2>
<ol><{_ text="Basic Readings"}>
    <li><{_ text="What is a plugin"}></li>
    <li><{_ text="How to install a plugin"}></li>
    <li><{_ text="How to update a plugin"}></li>
    <li><{_ text="How to deactivate a plugin"}></li>
    <li><{_ text="How to activate a plugin"}></li>
    <li><{_ text="How to remove a plugin"}></li>
    <li><{_ text="How to find a plugin"}></li>
</ol>
<ol><{_ text="Advanced Readings"}>
    <li><{_ text="How to develolp a plugin"}></li>
    <li><{_ text="How to customize a plugin"}></li>
</ol>
