<h2><{$title}></h2>
<h3><{_ text="Basic Readings"}><h3>
<h4><{_ text="What is XOOPS"}></h4>
<h4><{_ text="How to install XOOPS"}></h4>
<h4><{_ text="How to update XOOPS"}></h4>
<h4><{_ text="How to upgrade XOOPS"}></h4>
<h4><{_ text="How to deactivate XOOPS"}></h4>
<h4><{_ text="How to activate XOOPS"}></h4>
<h4><{_ text="How to backup XOOPS"}></h4>
<h4><{_ text="How to remove XOOPS"}></h4>
<h4><{_ text="How to find XOOPS"}></h4>
<h3><{_ text="Advanced Readings"}><h3>
<h4><{_ text="How to develolp XOOPS"}></h4>
<h4><{_ text="How to customize XOOPS"}></h4>
<h4><{_ text="How to translate XOOPS"}></h4>
<h4><{_ text="How to contribute to XOOPS"}></h4>
