
<{jQuery file=["extensions/form/jquery.form.js","ui/jquery-ui-1.7.2.custom.js","ui/jquery-ui-1.7.2.custom.css"]}>
<{headScript src="app/system/resources/scripts/jquery.xoops.block.js"}>

<script type="text/javascript">
    $(function() {
        // Select a module
        $("#select-module").selectModule({
                url:"<{adminUrl module=system controller=page action=ajaxblock}>",
                container:"#draggable"
        });
        // Select a block
        $("#select-block").selectBlock({
                url:"<{adminUrl module=system controller=page action=ajaxpage}>",
                container:"#select-page"
        });

        $("#draggable").startDrag();
    });
</script>
<style>
<!--
.clearfix {
    clear:both;
}
div.xo-block {
    width: 722px;
}
div.xo-block-page {
    padding: 5px 0;
}
div.xo-block .xo-block-title{
    padding: 5px 0;
    font-weight: bold;
}
div.xo-block .xo-block-list{
    margin: 0;
    padding: 0;
}
div.xo-block .xo-block-list li {
    float: left;
    border: 1px solid #aaa;
    padding: 3px 5px;
    margin: 2px ;
    cursor: move;
}
div.xo-block .xo-block-list li em,
div.xo-block .xo-block-list li span {
    display: none;
}
div.xo-block .xo-block-btn {

}


div.xo-page {
    width: 722px;
}
div.xo-page .xo-page-btn,
div.xo-page .xo-page-head {
    padding: 5px 0;
}

div.xo-page .xo-page-main {
    border: 1px solid #aaa;
    height: 640px;
}
div.xo-page .xo-page-main ul {
    margin: 0;
    padding: 0;
}
div.xo-page .xo-page-main ul li span  {
    float: right;
    font-size: smaller;
    cursor:pointer;
}
div.xo-page .xo-page-right,
div.xo-page .xo-page-left {
    float: left;
    width: 160px;
    background-color:#e8e8e8;
    min-height: 640px;
}
div.xo-page .xo-page-right ul,
div.xo-page .xo-page-left ul {
    min-height: 320px;
}
div.xo-page .xo-page-center{
    width: 400px;
    float: left;
}
div.xo-page .xo-page-center ul {
    min-height: 238px;
}

div.xo-page .xo-page-center .xo-page-center-module{
    background-color:#ddd;
    height: 160px;
    line-height: 160px;
    text-align: center;
}
div.xo-page .xo-page-center .xo-page-center-top,
div.xo-page .xo-page-center .xo-page-center-bottom {
    height: 240px;
}
div.xo-page .xo-page-center .xo-page-center-bottom  .xo-page-center-bottom-left,
div.xo-page .xo-page-center .xo-page-center-bottom  .xo-page-center-bottom-center,
div.xo-page .xo-page-center .xo-page-center-bottom  .xo-page-center-bottom-right,
div.xo-page .xo-page-center .xo-page-center-top .xo-page-center-top-left,
div.xo-page .xo-page-center .xo-page-center-top .xo-page-center-top-center,
div.xo-page .xo-page-center .xo-page-center-top .xo-page-center-top-right {
    float: left;
    width: 133px;
}
div.xo-page .xo-page-center .xo-page-center-bottom  .xo-page-center-bottom-center,
div.xo-page .xo-page-center .xo-page-center-top .xo-page-center-top-center{
    background-color:#f8f8f8;
}
div.xo-page .xo-page-right ul li,
div.xo-page .xo-page-left ul li,
div.xo-page .xo-page-center ul li {
    border: 1px solid #999;
    background-color:#ddd;
    padding: 3px 5px;
    cursor: move;
    margin: 2px;
    color: #333;
}
-->
</style>
<div>
    <div class="xo-block">

        <div class="xo-block-page">
            <{_ text='Select a module to get its blocks:'}>
            <select name="dirname" id="select-module">
                <{foreach key=dir item=name from=$modulesBlock}>
                <option value="<{$dir}>"<{if $dirname eq $dir}> selected="selected"<{/if}>><{$name}></option>
                <{/foreach}>
            </select>
        </div>

        <{include file="app/system/admin/page_ajax_block.html"}>

        <div class="clearfix"></div>
    </div>



    <{include file="app/system/admin/page_ajax_layout.html"}>

</div>

<div class="clearfix"></div>

<div id="xo-block-dialog"></div>