<h2><{$title}></h2>
<ol><{_ text="Basic Readings"}>
    <li><{_ text="What is a theme"}></li>
    <li><{_ text="How to install a theme"}></li>
    <li><{_ text="How to update a theme"}></li>
    <li><{_ text="How to upgrade a theme"}></li>
    <li><{_ text="How to deactivate a theme"}></li>
    <li><{_ text="How to activate a theme"}></li>
    <li><{_ text="How to remove a theme"}></li>
    <li><{_ text="How to find a theme"}></li>
</ol>
<ol><{_ text="Advanced Readings"}>
    <li><{_ text="How to develolp a theme"}></li>
    <li><{_ text="How to customize a theme"}></li>
</ol>
